body {
	margin: 10px;
	padding: 0;
	display: flex;
}

#controls {
	float: left;
	margin: 0 10px;
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
}

#controls a, #controls input, #controls select {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px;
	width: 100px;
	display: block;
	text-align: center;
	margin: 0 0 10px 0;
}

#controls select {
	font-size: 14px;
	width: 112px;
}

#controls input {
	width: 112px;
}

canvas {
	float: left;
}

#legend {
	clear: both;
	margin: 15px 0;
}

.legendColor {
	width: 15px;
	height: 15px;
	border: 1px solid grey;
}

#stats td {
	font-size: 13px;
}

#stats td:nth-child(odd) {
	text-align: right;
	padding-right: 5px;
}

.cody {
	font-family: monospace;
	font-size: 13px;
}

#code, .CodeMirror {
	flex: 1 1 auto;
	align-self: stretch;
	height: 750px !important;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: -10px;
	display: none;
	z-index: 100;
}

#overlayPopup {
	display: block;
	width: 300px;
	margin: 250px auto 0;
	padding: 10px;
	background-color: white;
}

#overlay #urlBox {
	width: 100%;
	margin-top: 5px;
}