* {
	font-family: "Helvetica Neue", sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
#controls {
	padding: 10px;
	float: left;
}
#controls a, #controls input  {
	cursor: pointer;
	border: 1px solid black;
	padding: 5px;
	width: 100px;
	display: block;
	text-align: center;
	margin: 0 0 10px 0;
}
canvas {
	float: left;
	margin: 10px;
}